<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    똑같은 클래스의 빈 두개 생성    -->
    <bean name="helloBean11" class="org.example.model.HelloBean" scope="prototype" />
    <bean name="helloBean12" class="org.example.model.HelloBean" scope="prototype" />

</beans>